* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.review-form {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.review-input {
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    padding: 10px;
}

.submit-review {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.submit-review:hover {
    background-color: #0056b3;
}

.reviews-container {
    width: 80%;
    margin: 20px auto;
    border: 1px dotted #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

.review {
    color: rgb(30, 29, 29);
    background: #d6d81f12;
}